.content {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.content img {
    width: 100%;
    max-width: 32rem;
}
  
.content h2 {
    font-size: 1.5rem;
}
  