.card {
    background: white;
    padding: 1rem;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    overflow: hidden;
    cursor: grab;
}
  
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.card p {
    opacity: 0.8;
}
  